*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(
45deg, #3575d1, #7d4ed4);
}
.preview-img{
    position: relative;
    margin: 0 auto;
    height: 350px;
    width: 500px;
    border: 2px dashed #fff;
    border-radius: 6px;
    color: white;
    overflow: hidden;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.preview-img i{
    font-size: 60px;
    margin-bottom: 20px;
}
.preview-img img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}